*{
    font-family: Arial;
}
h1{
    text-align: center;
}
.flex-container{
    display: flex;
    width: 100%;
    padding: 0;
}
.column1 {
   
    flex: 60%;
    min-height: 100vh;
    padding: 10px;
}
.column2 {
    
    flex: 40%;
    min-height: 100vh;
    padding: 10px;
}

#frame{
    width: 500px;
    height: 500px;
}

circle:hover{
    fill: orange;
}
circle{
    fill: purple;
}
.selected{
    stroke: green;
    stroke-width: 4;
}

#xaxis, #yaxis {
	stroke: black;
	stroke-width: 5;
}